<div class="navbar">
  <div class="container">
    {{# linkTo 'home' classNames="navbar-brand"}} SiteUp {{/linkTo}}
    <ul class="nav navbar-nav">
      <li>{{# linkTo 'sites'}} Sites {{/linkTo}}</li>
      <li>{{# linkTo 'sites'}} Sites {{/linkTo}}</li>
    </ul>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>